# TypeScript
*.tsbuildinfo
*.js
*.js.map

# Build output
/dist

# Dependency directories
node_modules

# Environment variables
.env

#jetbrains
.idea

# output file
output/*.csv

# input file
input/*.csv